/**
 * General
 */
$black: #000;
$white: #fff;

/**
 * Graphics
 */
$gainsboro: #ddd;
$pastel_gray: #ccc;
$spanish_gray: #999;
$jet: #333;

/**
 * Sections
 */
$bright_cerulean: #27a4dd;
$turquoise_green: #9dd5c0;
$pastel_magenta: #f39cc3;
$light_carmine_pink: #f1646c;
$mellow_apricot: #fac174;

/**
 * Font
 */
$primary: $jet;
$secondary: $white;
